<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654469710549-21d0e95d3qrgt67dv2j1pokum0esrb9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654469710549-21d0e95d3qrgt67dv2j1pokum0esrb9o</string>
	<key>API_KEY</key>
	<string>AIzaSyBL0rITh2-wt8mF-PQop9-1_BCCDRF4UwA</string>
	<key>GCM_SENDER_ID</key>
	<string>654469710549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Appinventiv.SigmaEkatraTrainingProject</string>
	<key>PROJECT_ID</key>
	<string>demoapp-c858b</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-c858b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654469710549:ios:177bb27821464a6784585c</string>
</dict>
</plist>